---
/**
 * * These are small cards with titles, and text, and a check icon
 * This looks best with an even number of cards. They are smaller to
 * use with more cards in the same section. 4 or 6 cards is probably ideal
 *
 * ! I copy all icons into the src/icons folder and recommend you do the same
 * ! If the icon is at src/icons/tabler/paint.svg then you put in "tabler/paint"
 */

import FeatureCard from "@components/FeatureCard/FeatureCardSmall2.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { getTranslatedData } from "@js/translationUtils";

const currLocale = getLocaleFromUrl(Astro.url);
const generalData = getTranslatedData("generalData", currLocale);
const processCardsData = generalData.processCardsData;

---

<section id="feature-cards-small-2" class="overflow-hidden py-16 md:py-20">
	<div class="site-container relative">
		<div class="mr-auto mb-16 md:max-w-4xl">
			<h2 class="h2 inline" id="trigger-cards-small-2" data-aos="fade-right">{generalData.stringsData.simplifiedProcess}</h2>
		</div>
		<div
			class="grid gap-16 sm:grid-cols-2 lg:grid-cols-3"
			data-aos="fade-right"
			data-aos-delay=".3"
			data-aos-trigger="#trigger-cards-small-2"
		>
			{processCardsData.map((feature, idx) => <FeatureCard title={feature.title} text={feature.text} />)}
		</div>
	</div>
</section>
